@import url(global.css);

#app{
    display: grid;
    grid-template-columns: 51.25% 48.75%;
    height: 100vh;
    overflow: hidden;
}

main{
    overflow: auto;
    padding: 4rem;
    background-color: var(--surface-primary);
}

main .main-container{
    max-width: 33rem;
    margin-left: auto;
}

main .back{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

main h1{
    font: 600 1.5rem/1.25 var(--font-family);
    margin-bottom: 0.5rem;
}

aside{
    padding: 4rem;
    background-color: var(--surface-secondary);
}

aside .aside-container{
    max-width: 31rem;
}

aside h2{
    font: 600 2.5rem/1.25 var(--font-family);
    margin-bottom: 0.5rem;
}

aside h2 span{
    color: var(--text-highlight);
}

.aside-container > img{
    margin-top: 2rem;

}

p{
    font: var(--text-sm);
}