.terms-wrapper{
    margin-top: 3rem;
    display: flex;
    gap: 0.75rem;
    align-items: flex-start;

    strong{
        font-weight: 500;
        color: var(--text-highlight);
    }
}

.checkbox-wrapper{
    position: relative;

    [type="checkbox"]{
        all: unset;
        position: absolute;
        inset: 0;
    }

    .checkbox-image{
        flex: 0 0 1.5rem;
        height: 1.5rem;
        background: url(../../assets/icons/checkbox.svg) no-repeat;
    }

    &:hover, &:focus-within{
        .checkbox-image{
            background: url(../../assets/icons/cehckbox-hover.svg) no-repeat;
        }
    }

    &:has(:checked){
        .checkbox-image{
            background: url(../../assets/icons/cehckbox-checked.svg) no-repeat;
        }
    }
}