:root{
    font-family: sans-serif;

    --background-color: #f5f4f0;
    --border-color: #d9d9d9;

    --text-primary: #1b1b1b;
    --text-secondary: #333333;
    --text-tertiary: #696969;
    --text-headline: #e1624f;

    --blue: #0c51a7;
    --orange: #e95e10;
    --pink: #e5245e;
    --purple: #591b98;
}

*{
    margin: 0;
    padding: 0;
    line-height: 150%;
}

body{
    background-color: var(--background-color);
}

#page{
    box-sizing: border-box;
    width: 1120px;
    height: 3054px;
    margin: 88px auto;
}

h1{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
}
h2{
    font-size: 32px;
    font-weight: bold;
}
h3{
    font-size: 28px;
    font-weight: bold;
}
p{
    font-size: 16px;
}

.headline{
    color: var(--text-headline);
    font-weight: bold;
    margin-bottom: 8px
}

.image{
    font-size: 16px;
    font-style: italic;
    text-align: center;

}

.image img{
    border-radius: 28px;
    height: 660px;
    width: auto;
}

.subtitle{
    margin-top: 24px;
    margin-left: 45px;
    color: var(--text-tertiary);
}

.next, .history{
    border-bottom: var(--border-color);
}

.history .headline{
    margin-top: 64px;
}

.history h2{
    margin-bottom: 8px;
    text-align: left;
}

.destination img{
    margin-top: 64px;
    margin-bottom: 20px;
    border-radius: 28px;
    height: 350px;
    width: 1120px;
}

.destination h3{
    margin-bottom: 4px;
}

.negrito{
    font-weight: bold;
    margin-top: 20px;
}

li{
    margin-left: 20px;
    color: var(--blue);
    font-weight: bold;
}

.destination p + li + li{
    color: var(--pink);
}

.destination li + li + li{
    color: var(--orange);
}

footer{
    margin-top: 80px;
    text-align: center;
    font-weight: 200;
    color: var(--text-secondary);
}